p {
color:black;
font-size:18;
font-weight:bold;
font-family: "Open Sans", sans-serif;
}

h1 {
    color:red;
    font-size:40;
    font-weight:bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}